h1{
  margin-left: 15%;
}

.table-wrapper {
  width: 100%;
  overflow-x: auto; 
  justify-content: center;
  display: flex;
 

  table {
    width: 70%; 
    border-collapse: collapse;

    border-spacing: 0; 
 

    thead {
      background-color: #f9de4e;
    }

    th, td {
      padding: 1rem;
      text-align: left;
     
        padding-left: 0.5rem; 
        padding-right: 0.5rem;
    
    }
  }
}

